@import "tailwindcss" source("../");
@source "../../../**/templates/**/*.html";
@source "../../../.venv/**/crispy_forms/**/*.{html,py,js,css}";
@custom-variant dark (&:where(.dark, .dark *));

[x-cloak] {
    display: none !important;
}
body {
    @apply font-light
}
h1 {
    @apply text-[2rem] font-bold
}
h2 {
    @apply text-[1.2rem] font-bold
}
#account input, .input-field {
    @apply bg-neutral-100 w-full px-3 py-2.5 border border-neutral-300 rounded-sm placeholder-neutral-400 focus:border-neutral-400 focus:outline-hidden 
}
#account button {
    @apply bg-[#366BF5] hover:bg-[#5037F8] text-white px-4 py-2.5 rounded-sm font-medium mb-2
}
#account label {
    @apply hidden
}
#account p {
    @apply py-2
}
#account li {
    @apply text-sm py-1 list-disc ml-5
}
#account button[form="logout-from-stage"] {
    @apply bg-neutral-200 hover:bg-neutral-300 text-neutral-500 px-4 py-2.5 rounded-md font-medium mb-2
}
button {
    @apply cursor-pointer focus:outline-none
}
.button {
    @apply bg-neutral-100 w-full px-3 py-2.5 rounded-sm font-medium text-neutral-400 select-none
}
.button-active {
    @apply bg-[#366BF5] hover:bg-[#5037F8] text-white
}
.button-nav {
    @apply w-full h-10 rounded-md hover:bg-neutral-100 flex items-center px-1
}
.button-nav span {
    @apply ml-3 font-medium hidden lg:block whitespace-nowrap transition duration-300
}
.button-rounded {
    @apply w-full h-10 rounded-full hover:bg-neutral-100 flex items-center justify-between px-2
}
.button-article {
    @apply rounded-full size-13 bg-neutral-100 hover:bg-neutral-200 flex items-center justify-center transition-all duration-300
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none; 
    appearance: none;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    scrollbar-width: none;          /* Firefox */
    -ms-overflow-style: none;       /* IE 10+ */
}
.input-field {
    @apply bg-neutral-100 w-full px-3 py-2.5 border border-neutral-300 rounded-sm placeholder-neutral-400 focus:outline-hidden
}
.button {
    @apply bg-neutral-100 w-full px-3 py-2.5 rounded-sm font-medium text-neutral-400 select-none
}
.button-active {
    @apply bg-[#366BF5] hover:bg-[#5037F8] text-white cursor-pointer
}
.errorlist {
    @apply py-2
}
.errorlist li {
    @apply text-[#366BF5] text-sm border-l-3 pl-3 my-1
}
.success {
    @apply text-green-600 text-sm
}
.error {
    @apply text-rose-600 text-sm
}
@keyframes scaleIn {
    0% {
        transform: scale(0.6);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.scale-in {
    animation: scaleIn 0.2s forwards;
}
