{% load static %}

<div id="explore_page" 
    x-data="{ selectedTab: '{{ selected_tag|default:'' }}' }" 
    class="ml-18 lg:ml-60 px-12">
    <div class="py-9">
        <ul class="flex gap-3">
            <li>
                <a hx-get="{% url 'posts:explore' %}" 
                    hx-target="#explore_page"
                    hx-swap="outerHTML"
                    hx-push-url="true"
                    @click="selectedTab = ''"
                    class="cursor-pointer rounded-lg p-3 font-medium"
                    :class="!selectedTab ? 'bg-black dark:bg-white text-white dark:text-black' : 'bg-neutral-100 dark:bg-neutral-900'">
                    All
                </a>
            </li>

            {% for tag in tags  %}
            <li>
                <a hx-get="{% url 'posts:explore' %}?tag={{ tag.name }}"
                    hx-target="#explore_page"
                    hx-swap="outerHTML"
                    hx-push-url="true"
                    @click="selectedTab = '{{ tag.name }}'"
                    class="cursor-pointer rounded-lg p-3 font-medium"
                    :class="selectedTab === '{{ tag.name }}' ? 'bg-black dark:bg-white text-white dark:text-black' : 'bg-neutral-100 dark:bg-neutral-900'">
                    {{ tag.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="grid gap-x-4 gap-y-6 grid-cols-2 lg:grid-cols-[repeat(auto-fill,_minmax(280px,_1fr))] pb-6">
        {% for post in posts %}
        {% include "./_post_card.html" %}
        {% endfor %}

    </div>
</div>

{% if partial %}
    <title hx-swap-oob="true">ProjetDev - Découvrir</title>

    <div hx-swap-oob="innerHTML" id="navigation">
        {% include "includes/navigation.html" %}
    </div>
{% endif %}